{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center">
    <form action="{{ url_for('signup') }}" method="post" novalidate class="col-sm-6 col-md-4 col-lg-3">
      <h1 class="text-center mb-4">Sign up</h1>
      <div class="form-floating mb-3">
        {{ form.username(size=32, class_="form-control", id="username", placeholder="Username", autocomplete="off") }}
        <label for="username">Username</label>
        {% for error in form.username.errors %}
          <span class="invalid-feedback d-block">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-floating mb-3">
        {{ form.password(size=32, class_="form-control", id="password", placeholder="Password", autocomplete="off") }}
        <label for="password">Password</label>
        {% for error in form.password.errors %}
          <span class="invalid-feedback d-block">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-floating mb-3">
        {{ form.confirm_password(size=32, class_="form-control", id="confirm_password", placeholder="Confirm Password", autocomplete="off") }}
        <label for="confirm_password">Confirm Password</label>
        {% for error in form.confirm_password.errors %}
          <span class="invalid-feedback d-block">{{ error }}</span>
        {% endfor %}
      </div>
      {{ form.submit(class_="btn btn-dark w-100", value="Sign up") }}
    </form>
  </div>
  <div class="text-center mt-4">
    <form action="{{ url_for('login') }}">
      <button type="submit" class="btn btn-link">Already have an account? Log in</button>
    </form>
 </div>
{% endblock %}